body {
    background-color: chocolate;
}

ul {
    list-style: none;
  }
  ul li::before {
    content: "✅";
    display: inline-block;
    margin-right: 0.2rem;
  }
  
  ul ul li::before {
    content: "📌";
  }
  ul ul ul li::before {
    content: "🤷‍♀️";
  }